*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home, .reports, .products{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.col-6{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-6 label{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.col-6 input{
  width: 50%;
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid black;
  font-weight: bold;
}

.deleteIcon{
  font-size: 25px;
  color: #ed5249;
  right: 0;
}

.deleteIcon:hover{
  cursor: pointer;
}

.nav-title{
  font-weight: 600;
}

.serach-bar{
  width: 50%;
}

.serach-bar .input-search{
  font-weight: 500;
}

.card-text{
  text-align: center;
  margin-top: 10%;
  margin-left: 5%;
}

.card-text:hover{
  cursor: pointer;
}

.col-3 a{
  text-decoration: none;
  color: black;
}

.col-3 a:hover{
  color: black;
}

.title{
  font-weight: bold;
}

.location{
  color: grey;
}

.noAvailable{
  text-align: center;
  margin-top: 20%;
}

.specName{
  text-transform: capitalize;
}

.messageIcon{
  margin-left: 15%;
  font-size: 30px;
}

.chat-window{
  width: 50%;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-window p{
  margin: 0;
}

.chat-window .chat-header{
  height: 45px;
  background: #263238;
  position: relative;
  cursor: pointer;
}

.chat-window .chat-header p{
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body{
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}

.chat-window .chat-body .message-container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: gray;
}

.chat-window .chat-body .message-container::-webkit-scrollbar{
  display: none;
}

.chat-window .chat-body .message{
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content{
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 300px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you{
  justify-content: flex-start;
}

#you .message-content{
  justify-content: flex-start;
}

#you .message-meta{
  justify-content: flex-start;
  margin-left: 5px;
}

#other{
  justify-content: flex-end;
}

#other .message-content{
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta{
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author{
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta{
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer{
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input{
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button{
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover{
  color: #43a047;
}

.hide{
  opacity: 0 !important;
}

.listPatients {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.listPatients .user{
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  width: 100%;
}

.listPatients .user .userIcon{
  background: gray;
  font-size: 25px;
  border-radius: 50%;
}

.listPatients .user h6{
  margin-left: 5%;
}